.top {
  margin-top: -50px;
}

.feature {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 100px;
}

.feature-list {
  font-size: 12px;
  font-weight: normal;
  line-height: 31px;
  text-align: left;
  color: #ffd600;
}

.feature-content {
  color: white;
  width: 660px;
  height: 250px;
  top: 2060px;
  left: 699px;
  font-size: 12px;
  font-weight: normal;
  line-height: 24.8px;
  text-align: left;
  margin-left: 300px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card1 > img {
    background-color: #3bc096;
}

.card2 > img {
    background-color: #ffd200;
}

@media (max-width: 1024px) {
  .top {
    margin-top: 160px;
  }

  .feature {
    flex-direction: column;
    margin-left: 20px;
    margin-top: 50px;
  }

  .feature-list {
    font-size: 15px;
    margin-bottom: 40px;
    margin-left: 20px;
  }

  .feature-content {
    width: auto;
    height: auto;
    font-size: 15px;
    font-weight: normal;
    line-height: 31px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }

  .cards {
    /* flex-direction: column; */
    display: block;
    margin: auto;
  }
}
