h5 {
  margin-top: 33px;
  text-align: center;
  color: var(--Pry-colour, #ffd600);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.6px;
}

.mblimg {
  display: none;
}

.nav {
  display: flex;
  color: #fff;
  justify-content: space-evenly;
  width: 350px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 35%;
  font-size: smaller;
  border-radius: 40px;
  border: 1.425px solid #fff;
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 0.15) 1.36%,
    rgba(255, 255, 255, 0.09) 100%
  );
  box-shadow: 0px 4px 20px 0px rgba(255, 214, 0, 0.07);
  backdrop-filter: blur(5.343450546264648px);
}

.nav h6{
  background: inherit;
}

.main {
  margin-left: 100px;
  margin-top: 50px;
}

.ajayi {
  display: flex;
  color: var(--Pry-colour, #ffd600);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -6.6px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 0;
}

.ajayi > img {
  margin-top: 32px;
  margin-left: 5px;
  width: 55px;
  height: 68px;
}

.product {
  display: flex;
  padding-left: 240px;
  margin-top: -32px;
}

.product > h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.65px;
  margin-top: 62px;
  margin-right: 10px;
}

.product > p {
  color: var(--WHITE, #fff);
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -6.6px;
  background-color: transparent;
  z-index: 1;
}

.web {
  display: flex;
  padding-left: 160px;
  margin-top: -32px;
}

.web > p {
  color: var(--WHITE, #fff);
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -6.6px;
}

.web > h5 {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.65px;
  margin-top: 64px;
  margin-left: 5px;
}

.bimg {
  position: absolute;
  width: 215px;
  height: 407px;
  top: 150px;
  left: 1048px;
}

.bodyfoot {
  padding-left: 80px;
  padding-right: 160px;
  margin-top: 150px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.bodyfoot > h6:last-child {
  color: #fff;
  font-size: small;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1.1px;
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 5px 15px 5px 15px;
}

.bodyfoot > h6:last-child > img {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  padding-left: 5px;
}

.boodyfootmbl {
  display: none;
}

@media (max-width: 768px) {
  h5 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.08em;
    text-align: left;
    margin: 20px;
  }

  .nav {
    display: none;
  }

  .main,
  .product,
  .web,
  .bodyfoot, .ajayi {
    margin: 0;
    padding: 0;
  }

  .mblimg {
    display: block;
    width: 360px;
    height: 329px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .bimg,
  .ajayi img,
  .product h5,
  .web h5,
  .bodyfoot {
    display: none;
  }

  .ajayi p {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.055em;
    text-align: center;
  }

  .product p {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -0.055em;
    text-align: center;
    color: #fff;
    /* margin-left: 20px; */
  }

  .web p {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -0.055em;
    text-align: center;
    color: #fff;
    margin-left: auto;
  }

  .bodyfootmbl {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
  }

  .bodyfootmbl > h6:first-child {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.055em;
    color: white;
    border-radius: 50px;
    border: 2px solid white;
    line-height: normal;
    border: 2px solid #fff;
    padding: 10px 40px 10px 40px;
  }

  .bodyfootmbl > h6:last-child {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: -0.055em;
    color: white;
    margin-top: 25px;
  }
}
